@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Russo+One&display=swap');

img {
    width: 70px;
    height: 70px;
    padding-left: 10px;
    padding-top: 2px;
}

.contenedor {
    display: flex;
    justify-content: space-between;
}

.contentIzq {
    background-color: black;
    border-right: 2px solid green;
    display: flex;
    flex-direction: column;
    padding: 15px;

}
.contentDerecha{
    width: 95%;
    background-color: black;
}

.contentIzq a {
    display: block;
    margin-bottom: 82%;
    width: 30%;
}
.navegacio {
    padding-top: 30%;
}

.navegacio a {
    padding-top: 0;
}
h5{
    font-family: 'Bebas Neue', sans-serif;
    color: green;
    padding-top: 4%;
    padding-left: 2%;
}
h1{
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Russo One', sans-serif;
    padding-top: 1%;
    padding-left: 7%;
    color: green;
}
footer{
    background-color: black;
    border-top: 2px solid green;

}
.sobreMi{
    padding-left: 6%;
    padding-top: 2%;
    max-width: 30%;
}


