@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Russo+One&display=swap');

body {
    height: 100%;
    margin: 0;
}

#logo {
    width: 70px;
    height: 70px;
    padding-left: 10px;
    padding-top: 2px;
}

.contenedor {
    display: flex;
    justify-content: space-between;
}

.contentIzq {
    background-color: black;
    border-right: 2px solid green;
    display: flex;
    flex-direction: column;
    padding: 2%;
    padding-top: 3%;
}

.contentIzq a {
    color: white;
    text-decoration: none;
}

.contentDerecha {
    width: 95%;
    background-color: black;
}

.contentIzq a {
    display: block;
    margin-bottom: 82%;
    width: 30%;
}

.navegacio {
    padding-top: 35%;
}

.navegacio a {
    padding-top: 0;
}

.webEnunciado {
    font-family: 'Bebas Neue', sans-serif;
    color: green;
    padding-top: 4%;
    padding-left: 2%;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Russo One', sans-serif;
    padding-top: 1%;
    padding-left: 7%;
    color: green;
}

.tituloSobreMi {
    padding-right: 9%;
}

footer {
    background-color: black;
    border-top: 2px solid green;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 4px solid green;
}

.sobreMi {
    margin-left: 5%;
    max-width: 30%;
    background: linear-gradient(to bottom, #0074e4, #001f60);
    color: white;
    border-radius: 10px;
}

.sobreMi p {
    padding-left: 6%;
    padding-bottom: 2%;
}

.sobreMi h3 {
    text-align: center;
}

.curriculum {
    width: 75%;
    height: 60%;
}

#contenedorCurriculum {
    padding-left: 6%;
    width: 30%;
    margin-left: 5%;
    background-color: #464444;
    color: white;
    border-radius: 10px;
}

#contenedorCurriculum h5 {
    padding-left: 20%;
}

.contenidorInfoPract {
    width: 30%;
    position: absolute;
    top: 5%;
    right: 15%;
}

.titolPract {
    text-align: center;
    color: white;
    background-color: #464444;
}

.practicas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 14%;
}


.imgPracticas1,
.imgPracticas2,
.imgPracticas3,
.imgPracticas4 {
    flex: 0 0 calc(50% - 3px);
}

.imgPracticas3 {
    padding-top: 15%;
    height: fit-content;
}

.imgPracticas4 {
    padding-top: 15%;
}

.imgPracticas1 img,
.imgPracticas2 img,
.imgPracticas3 img,
.imgPracticas4 img {
    width: 100%;
    height: auto;
}

footer {
    flex-direction: column;
    align-items: center;
}


@media only screen and (max-width: 768px) {
    .contentIzq {
        padding: 3%;
        width: 40%;
    }

    .sobreMi {
        margin-left: auto;
        margin-right: auto;
        margin-top: 17%;
        max-width: 80%;
        color: white;
    }

    .contenidorInfoPract {
        width: 30%;
        position: static;
        margin-top: 15%;
    }

    .contentIzq a {
        padding-top: 55%;
    }

    #contenedorCurriculum,
    .contenidorInfoPract {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .practicas {
        padding-top: 5%;
    }

    #contenedorCurriculum h6 {
        text-align: center;
    }
    #contenedorCurriculum h5{
        padding-right: 10%;
        max-width: 100%;
    } 
    #contenedorCurriculum img {
        display: block;
        margin: auto;
       padding-top: 2%;
    }
}